

/* Header */
#header-img {
  width: 100%;
  background-size: cover; 
  background-position: center; 
  height: 180px;
}

/* Headings and body */
h1 {
  font-size: 40px !important;
  font-weight: 100 !important;
  color: #246473;
  padding-top: 30px;
  padding-bottom: 20px;
  
}

body {
  background-color: #ffffff !important;  
}

